.delennerd-timeline-wrapper {
    float: left;
    width: 100%
}

.delennerd-timeline-wrapper::after {
    content: " ";
    display: table;
    clear: both
}

.timeline-box-inner {
    border-color: #df561b
}

.calendar-busy,
.section-box,
.sidebar-default .profile-photo img,
.timeline-box-inner {
    background-color: #fff;
    box-shadow: 0 1px 6px rgba(0, 0, 0, 0.12), 0 1px 4px rgba(0, 0, 0, 0.24)
}

.timeline {
    position: relative
}

.timeline .timeline-bar {
    content: '';
    width: 4px;
    opacity: 0.2;
    margin-left: -2px;
    position: absolute;
    left: 50%;
    top: 45px;
    height: 100%;
    background-color: #df561b
}

.timeline .timeline-inner {
    position: relative
}

.timeline-box {
    width: 50%;
    color: #757575;
    line-height: 1.5;
    margin-bottom: 25px;
    position: absolute
}

.timeline-box .dot {
    background-color: #df561b
}

.timeline-box:last-child {
    margin-bottom: 0
}

.timeline-box .list-company {
    color: #414141;
    font-size: 1.25em;
    font-weight: 400;
    line-height: 1.1;
    text-align: center;
    margin-bottom: 20px
}

.timeline-box .list-job {
    color: #878787;
    font-size: 0.86em;
    font-weight: 400;
    line-height: 1.1;
    text-transform: uppercase;
    text-align: center;
    margin-bottom: 30px
}

.timeline-box p,
.timeline-box ul {
    font-size: 1em;
    font-weight: 300;
    margin-bottom: 16px
}

.timeline-box .list-date {
    font-size: 0.95em;
    font-weight: 600;
    line-height: 1;
    text-align: center;
    margin-bottom: 15px;
    color: #df561b
}

.timeline-box-compact .list-date,
.timeline-box-compact .list-company,
.timeline-box-compact .list-job {
    text-align: left
}

.timeline-box-compact .list-date span {
    color: #fff;
    font-size: 1em;
    font-weight: 400;
    line-height: 1;
    display: inline-block;
    position: relative;
    padding: 5px 8px;
    -webkit-border-radius: 3px;
    -moz-border-radius: 3px;
    border-radius: 3px
}

.timeline-box-compact .list-date span:before {
    content: '';
    width: 0;
    height: 0;
    top: 100%;
    left: 5px;
    display: block;
    position: absolute;
    border-style: solid;
    border-width: 0 0 8px 8px;
    border-color: transparent;
    border-left-color: #DF561B
}

.timeline-box-inner {
    padding: 20px 5%;
    position: relative;
    border-width: 5px 0 0 0;
    border-style: solid
}

.timeline-box-left .dot,
.timeline-box-right .dot {
    top: 80px;
    width: 8px;
    height: 8px;
    display: block;
    position: absolute;
    -webkit-border-radius: 50%;
    -moz-border-radius: 50%;
    border-radius: 50%
}

.timeline-box-left .arrow,
.timeline-box-right .arrow {
    top: 60px;
    width: 12px;
    height: 41px;
    display: block;
    position: absolute;
    background-image: url("images/arrows.png");
    background-repeat: no-repeat
}

.timeline-box-left .arrow:before,
.timeline-box-right .arrow:before {
    width: 0;
    height: 0;
    content: '';
    display: block
}

.timeline-box-left {
    float: left;
    clear: left;
    left: 0
}

.timeline-box-left .timeline-box-inner {
    margin-right: 35px
}

.timeline-box-left .timeline-box-inner .arrow {
    right: -12px;
    background-position: -18px 0
}

.timeline-box-left .timeline-box-inner .arrow:before {
    margin-right: 2px;
    border-top: 20px solid transparent;
    border-bottom: 20px solid transparent;
    border-left: 10px solid #fff
}

.timeline-box-left .dot {
    right: 0px;
    margin-right: -4px
}

.timeline-box-right {
    float: right;
    clear: right;
    right: 0
}

.timeline-box-right .timeline-box-inner {
    margin-left: 35px
}

.timeline-box-right .timeline-box-inner .arrow {
    left: -12px;
    background-position: 0 0
}

.timeline-box-right .timeline-box-inner .arrow:before {
    margin-left: 2px;
    border-top: 20px solid transparent;
    border-bottom: 20px solid transparent;
    border-right: 10px solid #fff
}

.timeline-box-right .dot {
    left: 0px;
    margin-left: -4px
}

.timeline-box-left .timeline-box-inner .arrow:before {
    margin-right: 2px;
    border-top: 20px solid transparent;
    border-bottom: 20px solid transparent;
    border-left: 10px solid #fff
}

.timeline-box-right .timeline-box-inner .arrow:before {
    margin-left: 2px;
    border-top: 20px solid transparent;
    border-bottom: 20px solid transparent;
    border-right: 10px solid #fff
}

@media (max-width: 600px) {
    .timeline {
        height: auto !important;
        height: 100%
    }

    .timeline .timeline-bar {
        height: 100% !important
    }

    .timeline-box {
        width: 100%;
        float: none;
        margin-left: 0;
        margin-right: 0;
        position: relative;
        top: 0 !important
    }

    .timeline-box .timeline-box-inner {
        margin-left: 0;
        margin-right: 0
    }

    .timeline-box .timeline-box-inner .arrow {
        display: none
    }

    .timeline-box .dot {
        display: none
    }

    .timeline-box .list-job {
        line-height: 1.4em
    }
}