.flipbox-row {
	.elementor-inner-column {
		padding: 0 10px;

		&:last-child {
			margin-right: 0;
		}

		@include media-breakpoint-up(lg) {
			margin-right: 5.5%;
		}
	}
}

.flipbox {
	$parent: &;
	min-height: 300px;
	position: relative;
	perspective: 1000;
	margin: 20px 0;

	@include media-breakpoint-up(md) {
		margin: 20px;
	}

	&__image {
		padding-bottom: 14px;
		margin-bottom: 25px;

		img {
			width: 72px;
			height: 72px;
			display: inline-block;
		}
	}

	&__title {
		color: $primary;
		text-transform: uppercase;
		display: inline-block;

		.title {
			@extend .text-20;
			color: $primary;
			margin: 0;
			padding: 0;
		}
	}

	&__content {
		@extend .text-18;

		.btn {
			color: $white;
			border: 0;

			&:hover {
				color: $primary;
			}
		}
	}

	&__arrow {
		color: $secondary;
		text-align: right;
		font-size: 1.2rem;
		font-weight: bold;
		position: absolute;
		right: 1.5rem;
		bottom: 20px;
		cursor: pointer;
		display: none;
	}

	&__inner {
		transition: all .4s cubic-bezier(.5, .12, .46, .88) .1s;
	}

	&__front,
	&__back {
		position: absolute;
		top: 0;
		left: 0;
		right: 0;
		bottom: 0;
		padding: 2rem 1.5vw;
		transform-style: preserve-3d;
		backface-visibility: hidden;
		transition: all .7s cubic-bezier(.5, .12, .46, .88);
		box-shadow: 6px 6px 18px 0px rgba(0, 0, 0, 0.3);
		background-repeat: no-repeat;
		background-size: cover;
		background-position: 50% 50%;
		display: flex;
		flex-direction: column;
	}

	&__front {
		z-index: 2;
		transform: rotateX(0deg) rotateY(0deg);
		background-color: $white;
		justify-content: flex-start;
		align-items: flex-start;

		#{$parent}__inner {
			transform: translateZ(0px);
		}

		#{$parent}__title {}

		#{$parent}__content {}
	}

	&__back {
		background-color: $secondary;
		color: $white;
		text-align: center;
		z-index: 1;
		transform: rotateY(-180deg);
		justify-content: center;
		align-items: center;

		#{$parent}__inner {
			transform: translateZ(120px);
		}

		#{$parent}__title {
			margin-bottom: .8rem;
		}

		#{$parent}__content {
			@include media-breakpoint-up(lg) {
				font-size: 1.1rem;
			}
		}

		#{$parent}__content {}

		#{$parent}__arrow {
			color: #fff;
		}
	}

	&:hover &__front {
		transform: rotateY(180deg);
		z-index: 1;

		#{$parent}__inner {
			transform: translateZ(120px);
		}
	}

	&:hover &__back {
		transform: rotateX(0deg) rotateY(0deg);
		z-index: 2;

		#{$parent}__inner {
			transform: translateZ(0px);
		}
	}

	&--has-bg-image {
		#{$parent}__front {
			#{$parent}__title {
				background: $primary;
				margin-left: -1.5vw;
				padding: .5rem 1.4vw .5rem 1vw;

				.title {
					text-transform: uppercase;
					color: $white;
				}
			}
		}
	}
}